<div class="header-container">
  <img
    src="./assets/img/unxd-logo-black.svg"
    class="unxd-logo"
    alt="UNXD Logo"
  />
  <ul class="header-menu">
    <li>Drops</li>
    <li>Marketplace</li>
  </ul>
  <ul class="header-actions">
    <li class="search">
      <img src="./assets/img/search-icon.svg" class="icon" alt="Search Icon" />
    </li>
    <li>
      <img
        src="./assets/img/notifications.svg"
        class="icon notifications"
        alt="Notifications Icon"
      />
    </li>
    <li class="burguer">
      <img
        src="./assets/img/burguer-icon.svg"
        class="icon"
        alt="Burguer Icon"
      />
    </li>
    <li class="wallet">
      <img src="./assets/img/wallet.svg" class="icon" alt="Wallet Icon" />
    </li>
    <li class="user">
      <img src="./assets/img/user-thumb-0.svg" class="icon" alt="User Icon" />
    </li>
  </ul>
</div>
