:host {
  border-top: 1px solid #e6e6e6;
  margin: 120px 0px 0px 0px;
  .story-container {
    margin: 60px 0px;
    h2 {
      font-size: 24px;
      margin: 70px auto 18px auto;
      max-width: 700px;
      font-weight: 300;
      line-height: 40px;
    }
    p {
      max-width: 700px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
    }
    .story-image-container {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 50px 0px;
      .story-image-content {
        width: 100%;
        img {
          width: 100%;
        }
        h5 {
          margin: 15px 0px 0px 0px;
          .content-tag {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 761px) {
  :host {
    margin: 30px 0px 60px 0px;
    .story-container {
      .story-image-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 50px 0px;
        .story-image-content {
          img {
            width: calc(100% + 60px);
            margin: 0px -30px;
          }
        }
      }
    }
  }
}
