.item-activity-content {
  display: flex;
  border: 1px solid #e8e8e8;
  height: 70px;
  align-items: center;
  padding: 0px 20px;
  margin: 0px 0px 9px 0px;
  color: #6a6a6a;
  cursor: pointer;
  .user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 15px 0px 0px;
  }
  .user-tag {
    font-weight: bold;
    color: #000;
  }
  .timestamp {
    margin-left: auto;
  }
  .expand-icon {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .item-activity-content {
    font-size: 12px;
  }
  .expand-icon {
    display: none;
  }
}
@media (min-width: 761px) and (max-width: 1200px) {
  .item-activity-content {
    font-size: 12px;
    .user-tag {
      font-size: 12px;
    }
    .expand-icon {
      display: none;
    }
  }
}
