<div class="live-auction-container">
  <div class="live-auction-header-container">
    <span class="state"></span>Live auction ending in
  </div>
  <div class="live-auction-countdown-container">
    <div class="time">
      <span class="value">{{ days }}</span>
      <span class="desc">Days</span>
    </div>
    <div class="time">
      <span class="value">{{ hours }}</span>
      <span class="desc">Hours</span>
    </div>
    <div class="time">
      <span class="value">{{ minutes }}</span>
      <span class="desc">Min</span>
    </div>
    <div class="time">
      <span class="value">{{ seconds }}</span>
      <span class="desc">Sec</span>
    </div>
  </div>
</div>
