<div class="footer-container">
  <div class="logo-container">
    <img src="./assets/img/unxd-logo-white.svg" class="logo" alt="UNXD Logo" />
    <p class="description">
      UNXD is a curated marketplace for the best of digital culture.
    </p>
  </div>

  <div class="navigate-container">
    <h3>Navigate</h3>
    <ul class="navigate-menu">
      <li>Drops</li>
      <li>Marketplace</li>
      <li>Features</li>
    </ul>
    <ul class="navigate-menu extra">
      <li>About</li>
      <li>Helpcenter</li>
    </ul>
  </div>
  <div class="categories-container">
    <h3>Categories</h3>
    <ul class="categories-menu">
      <li>Art</li>
      <li>Fashion</li>
      <li>Physical Events</li>
      <li>Digital Events</li>
      <li>Virtual Words</li>
      <li>Trading Cards</li>
      <li>Collectibles</li>
    </ul>
  </div>

  <div class="newsletter-container">
    <h3>Newsletter</h3>
    <p class="description">
      Join our mailing list to stay in the loop with our newest feature
      releases, NFT drops, and tips and tricks for navigating UNXD.
    </p>
    <div class="subscribe-container">
      <input type="text" /><button>Subscribe</button>
    </div>
    <div class="social-networks-container">
      <img src="../../assets/img/twitter.svg" class="social-network-icon" />
      <img src="../../assets/img/instagram.svg" class="social-network-icon" />
      <img src="../../assets/img/reddit.svg" class="social-network-icon" />
    </div>
  </div>
  <div class="privacy">Privacy</div>
  <div class="terms-of-use">Terms of Use</div>
</div>
